* {
}

/********************************
*************nCalculator*/

body {

  height: 800px;
}
#team-name  {
  float: left;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  width: 156px;
  height: 32px;
  background-color: #282838;
  margin: 22px 0 0 27px;
  padding-left: 5px;
  color: #fff;


  border-top-left-radius: 12px;
  background: url('image/team-name.jpg');
  box-shadow: -2px -1px 0 #787d94;
  opacity: 0.6;

}

/*hr {
  color: #fff;
  margin-top: 0;
  width: 140px;
}*/
.center-object {
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  width: 355px;
  height: 575px;

  background:  url('image/background.jpg');


  border-radius: 15px;
  border: 3px solid #b59f9f;
  border-right: 11px solid #211e1e;;
  border-bottom:11px solid #232020;

}

  #img {
  float: right;
  width:130px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #222;
  margin-right: 30px;
  margin-top: 20px;
  background: url('image/soloar-panel.jpg');
  box-shadow: 2px 2px 5px #222;
  opacity: 0.7;
}

#c-button {
  background: #c35959;
}

#calcu-function {
  background: #717990;

}



input {
  font-size: 30px;

  width: 62px;
  height: 43px;
  border-radius: 8px;
  margin: 4px;
  margin-top: 5px;
  font-family: 'Anton', sans-serif;
  margin-left: 9px;
  box-shadow: 3px 2px 1px #828c50;
    background: url('image/input-button.jpg');

}


@font-face {
   font-family: 'LCDBOLD';
 	src: url('../fonts/LCDBOLD.woff') format('woff');
}


#output{
  width: 295px;
  height: 60px;
  margin-top: 5px;;
  margin-bottom: 25px;
  padding-left: 15px;
  border: 7px solid ##b3bbce;
  box-shadow: -4px -2px 0 #787d94;
  font-family: 'LCDBOLD', sans-serif;
  background: #c1b8b8;
  background: url('image/output.jpg');
}

#equal {
  font-size: 30px;
  background: #e0c577;
}

#txtNumber {

  width: 340px;
  height: 55px;

  border-radius: 10px;
  margin-top: 15px;
  margin-left: 5px;

}

input:active {
  color: #fff;
  background: #a3a7b9;
  opacity: 0.7;
}
