/*******************************************************************************
   FONTS
*******************************************************************************/
@font-face {
   font-family: 'LCDBOLD';
 	src: url('../fonts/LCDBOLD.woff') format('woff');
}


/*******************************************************************************
   MICROWAVE BODY
*******************************************************************************/
.microwaveContainer{
    width: 1225px;
    height: 700px;
    background: url("image/microwaveHandle.jpg");
    background-size: cover;
    border-radius: 10px;
    /*padding: 0px 60px 0 30px;*/
}

.outputContainer{
   background-color: #464646;
   border-radius: 5px;
   padding: 20px 0 20px 0;
}

.topPanel{
    width: 1225px;
    height: 100px;
    background: url("image/microwaveTopPanel.jpg");
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid #1f1f1f;
}

.microwaveDoor{
    width: 925px;
    display: inline-block;
    margin-left: 20px;
}

.glass{
    width: 800px;
    height: 456px;
    background: url("image/microwaveGlass.jpg");
    background-size: cover;
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 20px;
}

.handle{
    width: 100px;
    height: 500px;
    background: url("image/microwaveHandle.jpg");
    background-size: cover;
    margin: 0;
    border-radius: 8px;
    border: 0.5px solid #868686;
    display: inline-block;
}

.bottomPanel{
    width: 1225px;
    height: 75px;
    background: url("image/microwaveBottomPanel.jpg");
    background-size: cover;
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
    border-top: 3px solid #1f1f1f;
}



/*******************************************************************************
   INTERFACE PANEL
*******************************************************************************/
.interfaceContainer{
   width: 200px;
   background: url("image/microwaveInterface.jpg");
   background-size: cover;
   background-color: #1f1f1f;
   padding: 30px;
   margin-right: 20px;
   margin-top: 24px;
   display: inline-block;
   float: right;
}


/*******************************************************************************
OUTPUT
*******************************************************************************/
.outputContainer{
    background-color: #2b2b2b;
    border-radius: 5px;
    padding: 20px 0 20px 0;
}

#outputTimer{
    font-family: 'LCDBOLD', sans-serif;
    font-size: 40px;
    color: #fd4d6c;
    margin: 0;
    text-align: center;
}


/*******************************************************************************
   BUTTONS
*******************************************************************************/
.buttonContainer{
   margin-top: 20px;

}

.buttonRow{
   text-align: center;
   width: 100%;
   margin: 10px 0 10px 0;
}

.buttonRow button{
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 20px;
   color: white;
   background-color: #868686;
   height: 40px;
   width: 40px;
   border-radius: 50%;
   margin: 0 5px 0 5px;
   border: none;
   text-align: center;
}

.buttonBottomRow{
   text-align: center;
   width: 100%;
   margin: 20px 0 20px 0;
   padding: 10px 0 10px 0;
   border: 2px solid white;
   border-radius: 20px
}

.buttonBottomRow button{
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 14px;
   color: white;
   background-color: #1f1f1f;
   height: 40px;
   width: 60px;
   border: none;
   text-align: center;
}

#stop{
   color: #fd4d6c;
   border-right: 2px solid white;
   border-left: 2px solid white;
}

.numbers{
transition: 0.1s;
}

.numbers:active{
  background-color: #777777;
}
